* {margin:0; padding:0;}
body {font:12px Arial, sans-serif !important; margin:0; padding:0; text-align:center;}
blockquote {color:#777; background-color:#FFF; font-style:italic; margin:20px}
ol, ul {list-style-position:inside}

#container {text-align:left; width:900px; margin:50px auto; padding-bottom:50px;}
#container #content {float:left; width:600px;}
#container #sidebar {width:280px; float:right; margin-top:15px;}

/* SIDEBAR USERS, LIKEBOX */
#sidebar #users {background:#FAFAFA; border:1px solid #BABABA; padding:5px; height:170px;width:280px;}
#sidebar #users .avatar {border:5px solid #BABABA; float:left;}

#sidebar #users #fb_infos {font-weight:bold; vertical-align:top; margin:5px; float:left;}
#sidebar #users #fb_infos ul {margin:0; padding:0; list-style:none;}
#sidebar #users #fb_infos li {clear:both;}
#sidebar #users #fb_infos .name {background: url('../img/fb-sprite2.png') no-repeat -132px -109px; height:14px; width:13px; float:left;}
#sidebar #users #fb_infos .location {background: url('../img/fb-sprite.png') no-repeat -19px -275px; height: 14px; width:13px; float:left;}
#sidebar #users #fb_infos .work {background: url('../img/fb-sprite.png') no-repeat -26px -259px; height:14px; width:13px; float:left;}
#sidebar #users #fb_infos .age {background: url('../img/fb-sprite2.png') no-repeat -35px -110px; height:16px; width:17px; float:left;}

#sidebar #users #timeline {float:left;}

#sidebar #likebox {background:#FAFAFA; border:1px solid #BABABA; padding:5px; float:left;width:280px;margin-top:5px;}
#sidebar #likebox ul {list-style:none;}
#sidebar #likebox .like_category {margin-top:10px;}
#sidebar #likebox .like_category h4.category_title {border-top: 1px solid #CCC; color:#777; font-size: 14px; background-color: #EEEEEE; padding:3px; cursor:pointer;}
#sidebar #likebox .like_category ul.presentation {padding-left:8px;margin-top: 5px;display:none;}
#sidebar #likebox .like_category ul.presentation li div.title_page {font-weight:bold; color: #333; cursor: pointer}
#sidebar #likebox .like_category ul.presentation li { margin-bottom: 8px;}
#sidebar #likebox .like_category ul.presentation li ul.page_options { margin: 5px;display:none; }
#sidebar #likebox .like_category ul.presentation li ul.page_options li { margin:0px;}
#sidebar #likebox .like_category ul.presentation li ul.page_options li a { cursor:pointer;color:#778;font-weight:bold;font-size:11px;height:11px;line-height:11px;margin:0px;text-decoration:none;}
#sidebar #likebox .like_category ul.presentation li .feed,
#sidebar #likebox .like_category ul.presentation li .notes {margin: 5px 10px;}
#sidebar #likebox .like_category ul.presentation li .feed div,
#sidebar #likebox .like_category ul.presentation li .notes div {margin-top:10px;font-size:10px;color:#555;border-bottom:1px solid #EEE}
#sidebar #likebox .like_category ul.presentation li .feed div span.feed_by,
#sidebar #likebox .like_category ul.presentation li .notes div span.feed_by{color:#333; text-align:right;float:right;}
.feed, .notes {display: none;}

/* NOTES */
.note {background:#FAFAFA; border:1px solid #BABABA; margin:15px auto; padding-bottom:15px;}
.note p {margin:0 10px;}
.note blockquote {margin: 20px;}
.note h2 {margin:15px 10px;}
.note .note-date {margin:15px 10px 0 10px; font-style:italic;}
.note a{ color:#C66;}

.fb_iframe_widget {width:100%;} 
.fb_iframe_widget span, .fb_iframe_widget iframe {width:702px !important;}

#paginacao {width:600px;}
.bt-paginacao {background:#FAFAFA; border:1px solid #BABABA; padding:10px; margin:0;}
#bt-prox {float:right;}
#bt-ant {float:left;}

h3#likes {padding-left:30px;background: url('../img/fb-like-small.jpg') no-repeat 5px center;height:25px;line-height:25px;}
